{% set kubeadm = salt['grains.filter_by']({
    'default': {
      'version': '1.17.4-0',
      'runtime_pkg': 'containerd.io',
      'runtime_service': 'containerd',
      'runtime_version': '1.2.13-3.1.el7',
      'keepalived': True,
      'service_cidr': '10.96.0.0/12',
      'pod_network': '172.16.0.0/16',
      'v': '0',
      'control': False,
      'primary': False,
      'encrypt_join_info': False,
      'cluster_name': 'example_cluster1',
      'keepalived_config': {
        'interface': 'eth1',
        'vrid': '51',
        'priority': '100',
        'pass': 'Super Secret',
      },
    },
    'RedHat': {
      'version': '1.17.4-0',
      'runtime_pkg': 'containerd.io',
      'runtime_service': 'containerd',
      'runtime_version': '1.2.13-3.1.el7',
      'keepalived': True,
      'service_cidr': '10.96.0.0/12',
      'pod_network': '172.16.0.0/16',
      'v': '0',
      'control': False,
      'primary': False,
      'encrypt_join_info': False,
      'cluster_name': 'example_cluster1',
      'keepalived_config': {
        'interface': 'eth1',
        'vrid': '51',
        'priority': '100',
        'pass': 'Super Secret',
      },
    },
    'Debian': {
      'version': '1.17.4-0',
      'runtime_pkg': 'containerd.io',
      'runtime_service': 'containerd',
      'runtime_version': '1.2.13-1',
      'keepalived': True,
      'service_cidr': '10.96.0.0/12',
      'pod_network': '172.16.0.0/16',
      'v': '0',
      'control': False,
      'primary': False,
      'encrypt_join_info': False,
      'cluster_name': 'example_cluster1',
      'keepalived_config': {
        'interface': 'eth1',
        'vrid': '51',
        'priority': '100',
        'pass': 'Super Secret',
      },
    },
}, merge=salt['pillar.get']('kubeadm'), base='default') %}
